@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: marquee 25s linear infinite;
}

.dynamic-text::after {
  content: "Web Developer";
  animation: words 8s infinite steps(1, end);
  transition: content 0.5s ease-in-out;
}

.cursor {
  font-weight: bold;
  color: #b74b4b;
  animation: blink 1s infinite;
}

/* Blinking Cursor Animation */
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

/* Changing Text Animation */
@keyframes words {
  0%,
  25% {
    content: "Web Developer";
  }
  26%,
  50% {
    content: "Full Stack Developer";
  }
  51%,
  75% {
    content: "MERN Stack Developer";
  }
  76%,
  100% {
    content: "React Developer";
  }
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Michroma", sans-serif; */
  height: 100vh;
}



.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

#svg {
  height: 150px;
  width: 150px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 2.5s ease forwards, fadeOut 1s ease 3s forwards;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}


.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden-scroll {
  overflow: hidden;
}